
# -- lily assistant
lily-assistant==1.1.6

# -- core
Django==2.2.13

# -- enhance with bulk_update capability
django-bulk-update==2.2.0

# -- rest API framework
djangorestframework==3.9.1

# -- postgres communication
psycopg2-binary==2.7.5

# -- CLI
django-click==2.2.0

# -- utils
pytz>=2019.3

# -- authentication / cryptography
django-jwt-auth==0.0.2  # FIXME: do I still use it???
itsdangerous==0.24  # FIXME: do I still use it???

# -- http client
requests>=2.13.0

# -- language detection
langid==1.1.6

# -- search
# -- escape accented characters
trans==2.1.0

# -- inflection
inflect==0.3.1

# -- configuration
PyYAML>=3.13

# -- need by JSONSchemaField
jsonschema==2.6.0

# -- spell checking
hunspell==0.5.5
