
# -- allows specifying python project path to be discovered
pytest-pythonpath==0.7.1

# -- helps testing django based code
pytest-django==3.4.8

# -- provides injectable mocker fixture
pytest-mock==0.10.1

# -- human friendly testing of http requests to external APIs
# DOCS: https://httpretty.readthedocs.io/en/latest/
httpretty==0.9.5

# -- sockets overwriting to prevent external services calls during tests
pytest-socket==0.3.3

# -- fake data
fake-factory==0.5.6

# -- freezing time
freezegun==0.3.9

# -- fake models used in tests
django-fake-model==0.1.4
