
.collapsible-header {
    padding: 30px;
}

.lily-command-name {
    font-weight: bold;
    margin-right: 20px;
}

.lily-command-method {
    text-transform: uppercase;
    margin-right: 20px;
}

.lily-command-path {

}
